:root{
    --colorPrincipal: #F5EEDD;
    --colorSecundario: #06202B;
    --colorActivado: #077A7D;
    --colorImportante:#00759D;
}
/** Base styles */
body{
    background-color: var(--colorPrincipal);

}

/**Tipografia*/
h1, h2, h3, p, button{
    color: var(--colorSecundario);
    margin: 0;
}

h1, h2, h3{
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title h2{
    margin: 0;
}
h2,h3{margin: 1rem;}

p, button{
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1{font-size: clamp(6rem, 3.5rem + 8vw, 8rem);}
h2{font-size: clamp(2.5rem, 0.625rem + 6vw, 4rem);}
h3{font-size:3rem;}   
p{font-size: clamp(1rem, -0.875rem + 6vw, 2.5rem);}
button{font-size: clamp(1rem, -0.25rem + 4vw, 2rem);}

/**Header*/
.noVisible{
    display: none;
}
.title{
    width: 90%;
    margin: 1rem auto;
}
.imgBtnCV{
    height: clamp(1rem, 20vw, 2rem);
    margin: 0 0.3rem;
}

/**nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items:end;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;

}
nav a{
    padding: 0px 1rem;
}
.navA{
    display: flex;
    text-align: center;
}
nav .btnDownloadCV{
    margin: 0.5rem;
}

/**Button styles*/
button{
    cursor: pointer;
}
.navBtn, .btnDownloadCV, .ProyectoCard a, .btnForms {
    border: 1px solid var(--colorSecundario);
    background-color: transparent;
}

.navBtn{
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin: 0 0.3rem;
    min-width: 3rem;
}
.btnDownloadCV, .btnForms {
    padding: 1rem 6rem;
    letter-spacing: 0.1rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
a[download] {
    text-decoration: none;
}

/***btn hover*/
button:hover,  .btnProyect:hover{
    background-color: var(--colorActivado);
    border-color: var(--colorActivado);
    color: var(--colorPrincipal);
}

.linkSocialMedia:hover p{
    color: var(--colorActivado);
    text-decoration-line:underline;
}
a:hover .imgBtnCV, button:hover .imgBtnCV{
    filter: invert(97%) sepia(19%) saturate(106%) hue-rotate(358deg) brightness(100%) contrast(100%);
}
.imgBtnCV{
    max-width: 2.1rem;
}



/**Sobre mi*/
.sobreMi{
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

/**Tecnologias*/
.tecLogosSection{
    width: 100%;
    text-align: center;
    background-color: var(--colorSecundario);
    padding: 3rem 0rem;
    margin: 1rem 0;
}
.tecLogos{
    height: 6.25rem;
}
.tecLogosDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
    gap: 16px;
    justify-items: center;
}
.tecLogosDiv img{
    margin-bottom: 1rem;
    width: clamp(2rem, 20vw, 6.5rem);
    height: auto;
}
.tecLogosSection h2, .tecLogosDiv p{
    color: var(--colorPrincipal);
    margin-bottom: 2rem;
}


/**Proyectos*/
.proyectosSection{
    text-align: center;
}
.proyectosDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
}

.ProyectoCard{
    border: var(--colorSecundario) 0.2rem solid;
    border-radius: 2rem;
    text-align: left;
    padding: 1rem;
    max-width: 25rem;
    width: clamp(20rem, 50vw, 30rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.cardDiv {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.ProyectoCard a{
    min-width: 8rem;
    min-height: 4.3rem;
    border-radius: 3.12rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProyectoCard img{
    width: 35px;
    height: auto;
}
.preview {
    width: 100%;
    min-width: 20rem;
    min-height: 14rem;
    border-radius: 12px;
}
.tecSite{
    display: flex;
    justify-content: right;
}
.tecSite img{
    margin: 0.5rem;
}
.cardDiv{
    display: flex;
    justify-content: space-between;
}



/***Contacto*/
footer{
    margin: 2rem 0;
}
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.contDiv{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    flex-direction: column;
}

.contDiv img{
    width: 3rem;
    height: auto;
}

.contDiv p{
    font-size: 1.5rem;
}
.oneContact{
    margin: 0.5rem 2rem;
}

.linkSocialMedia{
    text-decoration-line: none;
}



@media screen and (min-width: 768px)  {
    .noVisible{
        display:block;
    }

    /**Header*/
    .title{
        max-width: 1000px;
        margin: 12.2rem auto;
    }

    /**nav*/
    nav{
        flex-direction: row;
    }
    nav .btnDownloadCV {
        margin: 0.5rem;
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 100;
        background-color: var(--colorPrincipal);
    }
    nav .btnDownloadCV:hover {

        background-color: var(--colorSecundario);
    }

    /**Tecnologias*/
    .tecLogosSection{
        margin: 5rem 0;
    }

    
    /**Proyectos*/
    .proyectosDiv{
        justify-items: center;
    }
    .ProyectoCard button{
        min-width: 8rem;
    }
    .preview {
        min-width: 400px;
        min-height: 283px;
    }
 
    /***Contacto*/
    footer{
        margin: 2rem 5rem;
    }
    .contDiv{
        flex-direction: row;
    }
    .contacto{
        text-align: left;
        flex-direction: row;
    }
}